// Base Stylesheet

html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: $background-main;
    color: white;
    overflow-x: hidden;

    &.overflow {
        overflow-y: hidden;
    }
}

p {
    font-size: 1.2rem;
}