// Color vars

$background-main: #292929;

// Header
$background-header: #171717;
$header-text: #E1E1E1;
$header-border: #2F3E9E;

// Hero Section
$hero-box-outer: #0088FF;
$hero-box-inner: #303F9F;

// Footer
$background-footer: $background-header;
$footer-border: $header-border;
