.card {
    padding: 0;
    display: block;
    @include object(400px, auto, lighten(black, 25%));
    border: 1px solid lighten(black, 30%);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    }

    .card-title {
        padding: 10px;
        padding-bottom: 0;
        font-size: 1.4rem;
        font-weight: 500 !important;
        text-transform: uppercase;
        font-weight: bold;
        // color: lighten(black, 20%);
    }

    .card-subtitle {
        padding: 5px 10px 15px 10px;
        font-size: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
        // color: lighten(black, 20%);
    }

    .card-img {
        @include object(400px, 300px, lighten(black, 70%));
        transform: translateX(-1px);
    }

    .card-body {
        position: relative;
        padding: 10px;
        width: 100%;

        .prize {
            position: absolute;
            top: 30%;
            right: 10%;
            font-size: 1.3rem;
            font-style: italic;
            color: $hero-box-outer;
        }
    }

    .card-cta {
        padding: 10px;
        padding-bottom: 20px;
        font-size: 0.8em;
        color: lighten($hero-box-inner, 10%);
        text-transform: uppercase;

        a, a:visited, a:active {
            color: lighten($hero-box-inner, 10%);
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $hero-box-outer;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .card {
        margin-bottom: 20px;
    }
}