.title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.bar {
        @include object(65px, 6px, $hero-box-outer);
    }

    h1 {
        font-weight: 700 !important;
        font-size: 2.8rem;
        margin-top: -0px;
        text-transform: uppercase;
    }
}